<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892087088550-humjcn20qo4ac9n8sp9fh5sq7c7hd2qf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892087088550-humjcn20qo4ac9n8sp9fh5sq7c7hd2qf</string>
	<key>API_KEY</key>
	<string>AIzaSyC8SFIgZv6KqqPeo55wDygFYzOYs2SAftM</string>
	<key>GCM_SENDER_ID</key>
	<string>892087088550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.reiniergarcia.flashChatLatest</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-latest-346d6</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-latest-346d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892087088550:ios:48a709b1462f8ef3b5cb67</string>
</dict>
</plist>